@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

span.wiggle {
  display: inline-block;
  background:red;
  padding: 10px;
  color: white;
  animation: wiggle 2.5s infinite;
}

span.wiggle:hover {
  animation: none;
}

